<h2>Ubah Password <span class="highlight"><%= user.nama %></span></h2>
<% if (errormsg.length != 0 ){ %>
<div class="message error"><%= errormsg %></div>
<%}%>
<div class="wrapper-ubah password">
  <div class="form password">
    <form action="/dashboard/user/ubahpassword?_method=PUT" method="post">
      <input type="hidden" name="id" value="<%= user.id %>" />
      <div class="form-input">
        <label for="">Password Lama</label
        ><input type="password" name="password" id="" />
      </div>
      <div class="form-input">
        <label for="">Password Baru</label
        ><input type="password" name="newpassword1" id="" />
      </div>
      <div class="form-input">
        <label for="">Konfirmasi Password Baru</label
        ><input type="password" name="newpassword2" id="" />
      </div>
      <div class="form-action">
        <a href="/dashboard/user/<%= user.id %>" class="close">Kembali</a>
        <button type="submit" class="ubah">Ubah Password</button>
      </div>
    </form>
  </div>
</div>
