/*  product ejs  */
.dinamis .row-product {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 2rem;
  flex-wrap: wrap;
  padding: 10px 0;
  height: 100%;
  width: 100%;
  /* overflow-y: auto; */
  overflow: auto;
}

.dinamis h2 {
  color: var(--text-p);
  transition: 0.8s ease-in-out;
}

.dinamis .aksi-tambah {
  display: flex;
  width: 100%;
  height: 5%;
  margin: 10px 0;
}
.aksi-tambah button {
  padding-inline: 10px;
  background-color: rgb(22, 216, 22);
  letter-spacing: 2px;
  height: 100%;
  outline: none;
  border-radius: 8px;
  border: none;
  color: var(--text-box);
  box-shadow: 0 0 5px 1px var(--text-p);
  transition: 0.8s ease-in;
}
.aksi button:hover {
  background-color: rgb(31, 173, 31);
  cursor: pointer;
}
.row-product .box-product {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  width: 25%;
  border-radius: 8px;
  background-color: var(--bg-p);
  box-shadow: 0 0 15px 1px var(--text-p);
  /* padding: 20px 10px; */
  color: var(--text-p);
  transition: 0.8s ease-in;
}
.box-product .data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}
.data h4 {
  font-size: 20px;
}
.data p {
  font-size: 13px;
}
.data p.harga {
  font-weight: 800;
}
.box-product .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-inline: 10px;
}
.box-product img {
  width: 130px;
  height: 105px;
}
.box-product .aksi {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  bottom: 10px;
  gap: 5px;
  padding-inline: 10px;
}
.aksi form {
  display: inline;
}
.aksi button.badge {
  height: 20px;
  outline: none;
  border: none;
  font-weight: 600;
}

.aksi a.badge,
button.badge {
  font-size: 15px;
  border-radius: 8px;
  padding-inline: 10px;
  height: 20px;
  color: var(--text-box);
  font-weight: 800;
  text-decoration: none;
  background-color: rgb(46, 212, 46);
  cursor: pointer;
}
button.badge.hapus {
  background-color: rgb(200, 32, 32);
}
button.badge.hapus:hover {
  background-color: rgb(172, 29, 29);
}
a.badge.ubah {
  background-color: rgb(46, 212, 46);
}
a.badge.ubah:hover {
  background-color: rgb(43, 180, 43);
}
a.badge.detail {
  background-color: rgb(224, 236, 0);
  color: black;
}
a.badge.detail:hover {
  background-color: rgb(202, 212, 12);
}

/* ubah produk */
span.highlight {
  text-decoration: underline;
}
.dinamis .wrapper-ubah,
.wrapper-detail {
  display: flex;
  width: 70%;
  height: 50%;
  background-color: var(--bg-p);
  box-shadow: 0 0 5px 2px var(--text-p);
  border-radius: 18px;
  margin-top: 20px;
  transition: 0.7s ease-in-out;
}
.wrapper-ubah .image,
.wrapper-detail .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  padding-inline: 10px;
}

.image img {
  width: 100%;
  height: 50%;
}
.wrapper-ubah .form,
.wrapper-detail .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-input {
  color: var(--text-p);
  transition: 0.7s ease-in-out;
}
.form-action {
  display: flex;
  width: 100%;
  margin-top: 0;
}
.form-action button.ubah,
.form-action a {
  height: 40px;
  width: 85px;
  padding-inline: 10px;
  border-radius: 8px;
  background-color: rgb(22, 216, 22);
  outline: none;
  border: none;
  font-size: 17px;
  color: var(--text-p);
  box-shadow: 0 0 5px 2px var(--text-p);
  transition: 0.7s ease-in-out;
}
.form-action button.ubah:hover {
  background-color: rgb(31, 173, 31);
  cursor: pointer;
}
.form-action a {
  text-decoration: none;
  line-height: 40px;
  background-color: rgb(200, 32, 32);
  transition: 0.7s ease-in-out;
}
.form-action a:hover {
  background-color: rgb(172, 29, 29);
  cursor: pointer;
}
/* detail produk */
.dinamis .wrapper-detail {
  width: 50%;
}
.wrapper-detail .image {
  width: 50%;
}
.wrapper-detail .detail {
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--text-p);
}
.detail .text-group {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}
.text-group label {
  font-weight: 800;
}
.text-group h4 {
  font-weight: normal;
}
.detail .aksi a {
  display: inline-block;
  height: 30px;
  padding-inline: 20px;
  border-radius: 8px;
  text-decoration: none;
  line-height: 30px;
  font-size: 17px;
  background-color: rgb(22, 216, 22);
  color: var(--text-p);
  transition: 0.8s ease-in-out;
}
.detail .aksi a:hover {
  background-color: rgb(31, 173, 31);
  cursor: pointer;
}
